{% extends 'auctions/layout.html' %}


{% block body %}
    <div>
        <h2>Create a new listing</h2>
    </div>
    <div>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div>
                {{formListing.title.label_tag}}
                {{formListing.title}}
            </div>
            <div>
                {{formListing.description.label_tag}}
            </div>
            <div>
                {{formListing.description}}
            </div>
            <div>
                {{formListing.image.label_tag}}
                {{formListing.image}}
            </div>
            <div>
                {{formListing.category.label_tag}}
                {{formListing.category}}
            </div>
            <div>
                {{formBid.bid.label_tag}}
                {{formBid.bid}}
            </div>
            <input type="submit" value="Create Listing">
        </form>
    </div>

{% endblock %}