{% extends "auctions/layout.html" %}

{% block body %}
<h1>{{listing.title}}</h1>
<img src="{{listing.image}}" alt="Product's Image" id="showListingPic">
<div class="mb-3">
    <h4>Description:</h4>
    {{listing.description}}
</div>
<div class="mb-3">
    <label class="h4">Category: </label>
    {{listing.category}}
</div>
<div class="mb-3">
    <label class="h4">Latest bid: </label>
    {{listing.bid.last.bid}}$
</div>

{% if user.id == listing.user.id %}
    <form action="{{request.path}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="closeListing">
        <input type="submit" class="btn btn-primary" value="Close this Listing">
    </form>
{% elif user.is_authenticated %}
    <form action="{{request.path}}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{createBid.bid}}
            <input type="hidden" name="addBid">
            <input type="submit" value="Add Bid">
        </div>
    </form>
{% endif %}

<hr>
<h3>Comments:</h3>
{% if user.is_authenticated %}
    <div>
        <form action="{{request.path}}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ createComment.comment }}
            </div>
            <input type="submit" value="Add Comment" class="btn btn-primary mb-3">
        </form>
    </div>
{% endif %}

{% for comment in comments %}
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{comment.user.username}}</h5>
      <p class="card-text">{{comment.comment}}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}